body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-style:bold;
}

h2 {
    color: blue;
    margin-left: 15px;
    font-family: Arial, sans-serif;
}

